

/* footer */
footer {
    @include flex(center);
    background: #1F0062;
    height: 48px;
    position: relative;
}

.copy-right {
    color: #FFFFFF;
    @include font-size(12);
    opacity: 0.9;
    @at-root .mobile #{&} {
        @include font-size(13);
    }
}
.nav-logo {
    height: 30px;
    @include RWD($mobile) {
        height: 24px!important;
    }
}

main {
    margin-top: 54px;
}

/* banner */
.banner {
    width: 100%;
    max-height: 96vh;
    position: relative;
    z-index: 1;
    @include RWD($break_point) {
        max-height: none;
    }
}
.logo {
    position: absolute;
    width: 27vw;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 2px 4px #000000D8);
}

.bn-bg {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
    filter: contrast(1.2);
}
.bn-title {
    position: absolute;
    top: 12%;
    left: 29%;
    width: 40vw;
    animation: bouncein 8s ease-in-out infinite;
    img {
        width: 100%;
    }
}
.font {
    font-family: "Roboto";
    font-weight: bold;
}

.bn-date-heading {
    text-align: center;
    display: block;
    color: #FFFFFF;
    font-family: 'Kurri Island', 'Alibaba Sans Thai';
    -webkit-text-stroke: 2.5px #FF0000;
    text-shadow: 0px 3px 10px #d82323;
    position: absolute;
    font-weight: bold;
    top: 76%;
    width: 100%;
    transform: translateY(-50%);
    font-size: 3vw;
    .ordinal {
        font-size: 2vw;
        margin-right: 10px;
    }
    @include RWD($break_point) {
        @include font-size(32);
        top: 84%;
        width: 100%;
        letter-spacing: 1px;
        -webkit-text-stroke: 0px #FF0000;
        text-shadow:-1.5px -1.5px 0 #FF0000,
                    1.5px -1.5px 0 #FF0000,
                    -1.5px 1.5px 0 #FF0000,
                    1.5px 1.5px 0 #FF0000;
        .ordinal {
            @include font-size(20);
            margin-right: 5px;
        }
    }
}
.bn-date-time {
    display: block;
    color: #FFF;
    text-shadow: 0px 3px 7px #310D00;
    font-family: 'Kurri Island';
    letter-spacing: 1.5px;
    text-align: center;
    -webkit-text-stroke: 2.5px #FF0000;
    text-shadow: 0px 3px 10px #d82323;
    position: absolute;
    width: 100%;
    top: 84%;
    transform: translateY(-50%);
    font-size: 2.2vw;
    .period {
        margin-left: 2px;
        font-size: 2vw;
    }
    .gmt {
        font-size: 1.8vw;
    }
    @include RWD($break_point) {
        @include font-size(28);
        top: 91%;
        width: 100%;
        letter-spacing: 1px;
        -webkit-text-stroke: 0px #FF0000;
        text-shadow:-1.5px -1.5px 0 #FF0000,
                    1.5px -1.5px 0 #FF0000,
                    -1.5px 1.5px 0 #FF0000,
                    1.5px 1.5px 0 #FF0000;
        .period {
            margin-left: 2px;
            @include font-size(28);
        }
        .gmt {
            @include font-size(28);
        }
    }
}
.th-TH .bn-date-heading {
    @include RWD($break_point) {
        top: 85%;   
    }
}
.th-TH .bn-date-time {
    @include RWD($break_point) {
     top: 94%;   
    }
}
/* index */
.index {
    position: relative;
    z-index: 1;
    padding-bottom: 3%;
    margin-top: 2%;
    width: 100vw;
    .container {
        z-index: 2;
        position: relative;
    }
    &::after {
        content: "";
        display: block;
        @include absolute(null, 0, 0, 0);
        width: 100%;
        height: calc(100% + 4vw);
        z-index: -2;
        clip-path: circle(600vw at 50% 600vw);
        background: #3700B1;
        opacity: 0.4;
    }
    &::before {
        content: "";
        display: block;
        @include absolute(null, 0, 0, 0);
        width: 100%;
        height: calc(100% + 4vw);
        z-index: -2;
        clip-path: circle(600vw at 50% 600vw);
        background: #3700B1;
        box-shadow: inset 0 0.825rem 3rem rgba(0,0,0,.8);
    }
    @at-root .mobile #{&} {
        padding: 15% 0;
        margin-top: 0;
        &::after {
            clip-path: circle(300vw at 50% 300vw);
        }
        &::before {
            clip-path: circle(300vw at 50% 300vw);
        }
    }
}
.info-block {
    position: relative;
    >* {
        z-index: 1;
        position: relative;
    }
}
#eventTime {
    padding: 1rem;
    margin-bottom:0;
}
h3 {
    color: #FFEC58;
    font-family: 'Kurri Island';
    @include font-size(26);
    text-align: center;
    margin-bottom: 0.8rem;
    @include RWD($mobile) {
        @include font-size(20);
    }
}

p {
    font-family: 'Roboto';
    color: #FFF;
    opacity: 0.9;
    @include font-size(14);
    line-height: 2rem;
    width: 72%;
    margin:auto;
    &:not(ol) {
        text-align: center;
    }
    @include RWD($mobile) {
        width: 95%;
        color: rgba(255, 255, 255, 0.85);
    }
}
h4 {
    text-align: center;
    font-family: 'Kurri Island';
    @include font-size(26);
    margin: 4rem 0  1rem;
    color: #FFEC58;
    strong {
        display: block;
        margin: 0.2em 0 1em;
        @include font-size(40);
        color: #64FFAC;
    }
    @include RWD($mobile) {
        @include font-size(19);
        strong {
            @include font-size(32);
            margin: 0.2em 0 0.6em;
        }
    }
}
.title{
    color: #FFEC58;
    font-family: 'Kurri Island';
    margin-bottom: toRem(14);
    @include font-size(28);
    text-align: center;
    margin-top: 6%;
    text-align: center;
    display: block;
    font-weight: bold;
    @include RWD($mobile) {
        @include font-size(25);
        margin-top: 10%;
    }
}

.content {
    margin: 1.2rem auto 1rem;
    width: 72%;
    @include RWD($mobile) {
        width: 95%;
    }
    li {
        @include font-size(14);
        list-style: decimal;
        margin-left: 1em;
        padding-left: 0.5em;
        line-height: 1.8rem;
        color: #FFF;
        opacity: 0.9;
        &:nth-last-child(1) {
            margin-bottom: initial;
        }
        @include RWD($mobile) {
            color: rgba(255, 255, 255, 0.85);
        }
    }    
}

/* info table */
table {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
    overflow: hidden;
    @include font-size(15);
    position: relative;
    text-align: center;
    margin: 0 auto 7%;
    @include RWD($mobile) {
        width: 100%;
        margin-bottom: 14%;
    }
    th {
        font-weight: bold;
        border-right: 1px solid #2C1B74;
        height: 2.8rem;
        font-weight: normal;
        background: #2C1B74;
        color: #fff;
        &:nth-child(4) {
            border-right: none;
        }
        @include RWD($mobile) {
            height: 3.2rem;
        }
    }
    td {
        border-right: 1px solid #2C1B74;
        text-align: center;
        height: 2.8rem;
        background: #EAE6FF;
        font-weight: bold;
        color: #2C1B74;
        &:nth-child(4) {
            border-right: none;
        }
    }
    @include RWD($mobile) {
        @include font-size(13);
    }
}


/* go top btn */
.go-top-btn {
    width: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    position: fixed;
    bottom: 6vh;
    right: calc((100% - $containerW) / 2 - 50px);
    @include font-size(20);
    color: #E8DEDE;
    background: rgba(14, 14, 14, 0.5);
    box-shadow: 0px 3px 4px #0000008B;
    border: 1px solid #FFFFFF29;
    border-radius: 8px;
    @include flex(center);
    opacity: 0;
    pointer-events: none;
    @extend %transition-03s;
    z-index: 1;

    &:hover {
        background-color: rgba(14, 14, 14, 1);
        border-color: #FFDDDD38;
        color: #fff;

        i {
            transform: scale(1.1);
            transition: all 0.3s;
        }
    }

    &.active {
        opacity: 1;
        pointer-events: initial;
    }

    @include RWD($smallWeb) {
        right: 10px;
    }

    @include RWD($break_point) {
        bottom: 2vh;
        right: 10px;
        width: 45px;
    }
}
