@font-face {
    font-family: 'Akshar';
    src: url('./Akshar-Regular.woff2') format('woff2'),
        url('./Akshar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akshar';
    src: url('./Akshar-Medium.woff2') format('woff2'),
        url('./Akshar-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akshar';
    src: url('./Akshar-SemiBold.woff2') format('woff2'),
        url('./Akshar-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akshar';
    src: url('./Akshar-Light.woff2') format('woff2'),
        url('./Akshar-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akshar';
    src: url('./Akshar-Bold.woff2') format('woff2'),
        url('./Akshar-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

