@font-face {
    font-family: 'Fugaz One';
    src: url('./FugazOne-Regular.woff2') format('woff2'),
        url('./FugazOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

