/* footer */
footer {
    @include flex(center);
    background: #675747E5;
    height: 54px;
    position: relative;
}

.copy-right {
    color: #ffffffc7;
    text-align: center !important;
    @include font-size(12);
    opacity: 0.9;
}

header {
    &.SG {
        background: #00000073;
        box-shadow: 0px 0px 0px #0000004d;
    }
}

main {
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        background: url(/template/SF-25Jan/deco/img_under_bg.webp) bottom -5px center / 100% auto no-repeat;
        width: 100%;
        height: 100%;
        @include absolute(0, 0);
        pointer-events: none;
        z-index: -1;
        opacity: 0.7;
    }

    @at-root .mobile #{&} {
        &::after {
            background: url(/template/SF-25Jan/deco/mob_sea_bg.webp) bottom center no-repeat;
            background-size: 100%;
            background-position: bottom -50px center;
        }
    }
}

/* banner */
.banner {
    width: 100%;
    position: relative;

    &::after {
        content: '';
        width: 10vw;
        height: 150px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.683) 0%, rgba(247, 229, 64, 0.7) 100%);
        border-radius: 50%;
        @include absolute(0%, 50%);
        transform-origin: center;
        z-index: 0;
        animation: shine 2s infinite ease-in-out alternate;
    }

    @at-root .mobile #{&} {

        &::after {
            display: none;
        }

        &::before {
            content: '';
            @include absolute(null, 0%, null, 0);
            pointer-events: none;
            width: 100vw;
            height: 300px;
            z-index: -1;
            background: url(/template/SF-25Jan/deco/mob_sea_bg.webp) no-repeat;
            background-size: 100%;
            background-position: bottom -20px center;
        }
    }
}

.bn-bg {
    width: 100%;

    @at-root .mobile #{&} {
        position: relative;
        z-index: 1;
    }
}

.bn-title {
    @include absolute(4%, 0);
    z-index: 2;
    width: 100%;

    img {
        width: 34%;
        position: relative;
        margin: 0 auto;
    }

    @at-root .zh-CN #{&} {
        @include absolute(-2%, 0);

        img {
            width: 38%;
        }
    }

    @at-root .ko-KR #{&} {
        @include absolute(6%, 0);

        img {
            width: 30%;
        }
    }
}

.bn-money {
    @include absolute(29%, 0);
    width: 100%;
    z-index: 2;
    pointer-events: none;

    img {
        width: 58%;
        margin: 0 auto;
        animation: bounce 1.5s 2.2s infinite;
    }

    @at-root .zh-CN #{&} {
        @include absolute(27%, 0);
    }

    @at-root .ko-KR #{&} {
        img {
            width: 53%;
        }
    }

    @at-root .th-TH #{&} {
        img {
            width: 53%;
        }
    }

    @at-root .id-ID #{&} {
        @include absolute(30%, 0);

        img {
            width: 53%;
        }
    }

    @at-root .ms-MY #{&} {
        img {
            width: 53%;
        }
    }

    @at-root .sa-IN #{&} {
        img {
            width: 53%;
        }
    }
}

.dragon {
    width: 25%;
    @include absolute(15%, 4%);

    img {
        width: 100%;
    }
}
[class^="coin"] {
    position: absolute;
    width: 10%;
    opacity: 0;

    img {
        width: 100%;
    }
}
.coin1 {
    top: 9%;
    left: 10%;
    @include coin-animation(1)
}
.coin2 {
    top: 10%;
    right: 12%;
    width: 7%;
    @include coin-animation(2)
}
.coin3 {
    top: 23%;
    right: 9%;
    width: 7%;
    @include coin-animation(3)
}
.chest {
    @include absolute(35%, null, 3%);
    width: 25%;
    img {
        width: 100%;
    }
}



%gradient {
    background: linear-gradient(180deg, #FFA0A0, #FFFFFF);
    color: transparent;
    background-clip: text;
}

.bn-date {
    @include absolute(41%, 50%);
    text-align: center;
    color: #fff;
    z-index: 2;
    font-family: 'Bungee Inline', '微软雅黑', 'Archivo Narrow';
    transform: translateX(-50%);
    letter-spacing: 1px;
    font-weight: normal;
    white-space: nowrap;

    .gmt {
        margin-left: 5px;
    }

    .date {
        color: #ADFFE8;
        position: relative;
        font-size: 26px;
        line-height: 47px;
        letter-spacing: 0.1px;
        text-shadow: 0px 5px 5px #00176440;
    }

    .date-bg {
        width: 120%;
        height: 47px;
        @include absolute(0, 50%);
        transform: translate(-50%, 0);
        background: linear-gradient(180deg, #1077FB 0%, #4749D9 100%);
        z-index: -1;
        border-radius: 50px;
        filter: drop-shadow(0px 5px 5px #00176440);
    }

    .time {
        display: block;
        font-size: 21px;
        color: #FFFFFF;
        line-height: 40px;
        margin-top: 5px;
        letter-spacing: 1.5px;
        filter: drop-shadow(-1px -1px 0 #474BD9) drop-shadow(1px -1px 0 #474BD9) drop-shadow(-1px 1px 0 #474BD9) drop-shadow(1px 1px 0 #474BD9);
    }


    @at-root .mobile #{&} {
        @include absolute(36%, 50%);
        width: 100%;
        letter-spacing: 0.2px;

        .date-bg {
            width: 95%;
        }

        .date {
            font-size: 20px;
            letter-spacing: 0;
        }

        .time {
            font-size: 16px;
            line-height: 36px;
            margin-top: 0;
        }
    }

    @at-root .zh-CN #{&} {
        .date {
            letter-spacing: 3px;
            font-size: 24px;
            font-weight: bold;
            font-family: '微软雅黑';
        }

        @include RWD($break_point) {
            @include absolute(30%, 50%);

            .date {
                font-size: 18px;
                letter-spacing: 1px;
            }
        }
    }

    @at-root .th-TH #{&} {
        .date {
            font-weight: bold;
            font-family: 'Poppins';
        }

        @include RWD($break_point) {
            @include absolute(33%, 50%);

            .date {
                font-size: 18px;
            }
        }
    }

    @at-root .vi-VN #{&} {
        .date {
            font-family: 'Archivo Narrow';
            font-weight: bold;
        }

        @include RWD($break_point) {
            @include absolute(33%, 50%);
            .date {
                font-size: 19px;
            }
        }
    }

    @at-root .ko-KR #{&} {
        .date {
            font-family: 'KoreanSWGI3-R';
            font-size: 24px;
            line-height: 55px;
        }

        .time {
            margin-top: 0;
            line-height: 30px;
        }

        @include RWD($break_point) {
            @include absolute(34%, 50%);

            .date {
                font-size: 20px;
                line-height: 55px;
            }
        }
    }

    @at-root .sa-IN #{&} {
        .date {
            font-weight: bold;
            font-family: "Roboto";
            font-size: 26px;
            letter-spacing: 1px;
            color: #ADFFE8;
            line-height: 46px;
        }

        .time {
            font-size: 24px;
            text-shadow: 0 0 1px #000;
        }

        @include RWD($break_point) {
            .date {
                font-size: 20px;
            }

            .time {
                font-size: 14px;
            }
        }
    }
}

/* index */
.index {
    position: relative;
    width: 100%;
    margin-top: -13%;

    @include RWD($smallWeb) {
        margin-top: 5%;
    }

    @include RWD($break_point) {
        margin-top: -5%;
    }
}

%title {
    width: fit-content;
    text-align: center;
    margin: auto;
    font-family: 'Bungee Inline', '微软雅黑', 'KoreanSWGI3-R', 'Archivo Narrow';
    font-size: 32px;
    background: linear-gradient(180deg, #FDE403 38.3%, #FDAA03 65.96%);
    color: transparent;
    background-clip: text;
    position: relative;
    filter: drop-shadow(-1px -1px 0 #2C1384) drop-shadow(1px -1px 0 #2C1384) drop-shadow(-1px 1px 0 #2C1384) drop-shadow(1px 1px 0 #2C1384);
    letter-spacing: 0.2px;
    font-weight: normal;

    @at-root .mobile #{&} {
        font-size: 25px;
    }

    @at-root .zh-CN #{&} {
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 30px;

        @include RWD($break_point) {
            font-size: 22px;
        }
    }

    @at-root .th-TH #{&} {
        @include RWD($break_point) {
            line-height: 45px;
        }
    }
    @at-root .ko-KR #{&} {
        font-size: 30px;
        @include RWD($break_point) {
            font-size: 22px;
        }
    }

    @at-root .id-ID #{&} {
        @include RWD($break_point) {
            font-size: 20px;
        }
    }

    @at-root .sa-IN #{&} {
        font-weight: bold;
    }

    @at-root .vi-VN #{&} {
        @include RWD($break_point) {
            font-size: 20px;
        }
    }

    @at-root .ms-MY #{&} {
        @include RWD($break_point) {
            font-size: 20px;
        }
    }
}

%title-sm {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFE6B5;
    font-weight: 700;
}

.points-block {
    position: relative;
    z-index: 2;
    margin: 0 auto 32px;

    p {
        color: #fff;
        opacity: 0.85;
        font-size: 14px;
        line-height: 28px;
        max-width: 680px;
        margin: auto;
        text-align: center;

        @include RWD($mobile) {
            width: 100%;
            line-height: 20px;
            font-size: 12px;
        }
    }

    @at-root .id-ID #{&} {
        @include RWD($break_point) {

            h2,
            h3 {
                font-size: 20px;
            }
        }
    }

    ul {
        max-width: 748px;
        width: 90%;
        margin: auto;
        font-family: 'Do Hyeon', '微软雅黑';
        font-weight: 400;

        li {
            @include flex(center, stretch);
            color: #ffffffc6;
            font-size: 14px;
            overflow: hidden;

            strong {
                width: 22%;
                flex-shrink: 0;
                background: #5C191980;
                white-space: nowrap;
                @include flex(center);
            }

            i {
                background: #2F0C0C99;
                padding: 14px 16px;
                font-style: normal;
                flex-grow: 1;
                @include flex(flex-start, center);
                line-height: 20px;
                letter-spacing: 0.6px;
            }

            &:nth-child(1) {
                border-radius: 10px 10px 0 0;
                border-bottom: 1px solid #ffffff10;
            }

            &:nth-child(2) {
                border-radius: 0 0 10px 10px;
            }
        }

        @at-root .mobile #{&} {
            li {
                @include flex(center, stretch);
                color: #fff;
                font-size: 14px;

                strong {
                    width: 28%;
                    flex-shrink: 0;
                    white-space: wrap;
                    line-height: 18px;
                    text-align: center;
                    font-size: 14px;
                }

                i {
                    padding: 12px;
                    font-size: 14px;
                }
            }
        }
    }

    @include RWD($break_point) {
        margin: 0 auto 12%;

        h2,
        h3 {
            font-size: 22px;
            min-width: 248px;
            line-height: 62px;

            strong {
                font-weight: bold;
            }
        }
    }

    @at-root .th-TH #{&} {
        ul {
            font-family: 'Poppins';

            @include RWD($break_point) {
                font-size: 12px;
            }
        }
    }

    @at-root .vi-VN #{&} {
        ul {
            font-family: 'Poppins';
            line-height: 20px;

            @include RWD($break_point) {
                li {
                    strong {
                        font-size: 12px;
                    }

                    i {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

/* main block */
.main-block {
    max-width: 900px;
    margin: auto;
    min-height: 80vh;
    padding: 36px 0 140px;
    position: relative;

    &::after {
        content: '';
        background: url(/template/SF-25Jan/deco/wood.webp);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        @include absolute(0, 0);
        pointer-events: none;
        border-radius: 24px;
    }

    .mix-table-head {
        @extend %title;
        color: #fdcf03;
        z-index: 2;
        width: 70%;
        margin: auto;
        line-height: 38px;
    }

    @at-root .mobile #{&} {
        background: none;
        padding: 0;
        margin-bottom: 100px;

        &::after {
            display: none;
        }

        .mix-table-head {
            width: 90%;
            line-height: 30px;
        }
    }
}

.mix-table {
    width: 82%;
    margin: auto;

    @include RWD($break_point) {
        width: 98%;
    }
}

.grid-wrap {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 16px;
    margin-top: 24px;

    &>div {
        border-radius: 10px;
        z-index: 2;
        background: #2D2018;

        h2 {
            @extend %title-sm;
        }
    }

    .rank-list-box {
        grid-area: 1/2/3/3;
    }

    @at-root .mobile #{&} {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &>div {
            h2 {
                font-size: 18px;
            }
        }

        .points-system-box {
            order: -1;
        }
    }
}

.top-three-box {
    padding-top: 44px;
    position: relative;

    h2 {
        margin-bottom: 33px;
        text-align: center;
    }

    .content-box {
        width: 90%;
        margin: auto;
        @include flex(center);
        flex-direction: column;
        gap: 10px;
        position: relative;
        z-index: 2;
        font-family: 'Impact';
        font-weight: normal;
    }

    .prize-box {
        width: 100%;
        height: 83px;
        position: relative;
        border-radius: 5px;
        filter: drop-shadow(0 2px 4px #00000080);
        padding: 12px 0 6px;
        @include flex(space-between);
        flex-direction: column;

        &:nth-child(1) {
            background: url(/template/SF-25Jan/deco/ch_1.webp) no-repeat;
            background-size: 100%;
        }

        &:nth-child(2) {
            background: url(/template/SF-25Jan/deco/ch_2.webp) no-repeat;
            background-size: 100%;
        }

        &:nth-child(3) {
            background: url(/template/SF-25Jan/deco/ch_3.webp) no-repeat;
            background-size: 100%;
        }
    }

    .ranking {
        font-size: 20px;
        line-height: 24px;
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 1;
        width: fit-content;

        span {
            position: relative;
            z-index: 1;
            color: #424242;
        }

        &::after {
            content: '';
            width: 45px;
            height: 10px;
            @include absolute(null, -3px, null, -1px);
            background: #4881F5;
            z-index: -1;
            clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        }
    }

    .value {
        color: transparent;
        background: linear-gradient(360deg, #0014a8 0%, #43d6ff 100%);
        background-clip: text;
        font-size: 24px;
        line-height: 45px;
        text-align: center;
        width: fit-content;
        padding-left: 5px;
        @include absolute(null, 45%, null, 0);
    }

    &::after {
        content: '';
        width: 95%;
        height: 178px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 238, 0, 0.3) 0%, rgba(255, 238, 0, 0) 100%);
        border-radius: 50%;
        @include absolute(1%, 50%);
        transform: translateX(-50%);
        z-index: 0;
        filter: blur(15px) opacity(0.5);
    }

    @at-root .mobile #{&} {
        padding: 24px 0 16px;

        .value {
            font-size: 23px;
            line-height: 48px;
        }

        .prize-box {
            &::before {
                width: 78px;
                height: 72px;
                @include absolute(53%, 34%);
                transform: translate(-50%, -50%);
                z-index: 2;
            }
        }
    }
}

.rank-list-box {
    padding: 18px 0 16px;

    h2 {
        line-height: 40px;
        margin-bottom: 10px;
        padding-left: 8px;
        position: relative;

        &::after {
            content: '';
            background: url(/template/SF-25Jan/deco/chest_open.webp) no-repeat;
            background-size: 100%;
            width: 110px;
            height: 97px;
            @include absolute(0, null, 0, null);
            transform: translateY(-60%) scaleX(-1);
        }
    }

    .content-box {
        width: 90%;
        margin: auto;
        position: relative;
    }

    .prize-box {
        width: 100%;
        height: 30px;
        background: #5A493F;
        border-radius: 3px;
        @include flex(space-between);
        padding: 0 16px;
        color: #FFF8E1D6;
        font-size: 13px;
        font-family: 'Poppins';
        transition: all 0.2s;

        &:hover {
            background: #856c5e;
        }
    }

    .prize-box+.prize-box {
        margin-top: 2px;
    }

    @at-root .mobile #{&} {
        margin-top: 24px;

        .prize-box {
            font-size: 14px;
            pointer-events: none;
        }

        .content-box {
            &::after {
                content: '';
                background-position: 0 0px;
                width: 90px;
                height: 66px;
                transform: translateY(-38%);
            }
        }
    }
}

.points-system-box {
    padding: 34px 0;
    font-family: 'Impact';
    font-weight: normal;
    position: relative;

    h2 {
        text-align: center;
        font-size: 16px !important;
    }

    %gradient {
        background: linear-gradient(180deg, #FDE403 38.3%, #FDAA03 65.96%);
        color: transparent;
        background-clip: text;
    }

    .content-box {
        margin: 30px auto 0;
        @include flex(center);
        gap: 15px;
    }

    .points {
        position: relative;
        width: fit-content;
        padding-right: 64px;
        text-align: center;

        .number {
            @extend %gradient;
            font-size: 26px;
        }

        .text {
            color: #FFE6B5CC;
            font-size: 12px;
            font-family: 'poppins';
        }

        span {
            display: block;
        }

        &::after {
            content: '';
            width: 56px;
            height: 100%;
            background: url(/template/SF-25Jan/deco/img_coin.webp) no-repeat;
            background-size: 90%;
            background-position: center center;
            @include absolute(0, null, 0, null);
        }
    }

    .equal {
        @extend %gradient;
        font-size: 20px;
    }

    .currency {
        @extend %gradient;
        font-size: 20px;

        span {
            font-size: 28px;
            margin-right: 6px;
        }
    }

    @at-root .mobile #{&} {
        padding: 24px 0;

        &::after {
            background-position: 0 -26%;
        }

        .points {
            padding-right: 60px;

            .number {
                font-size: 26px;
            }

            &::after {
                width: 48px;
            }
        }

        .equal {
            font-size: 20px;
        }

        .currency {
            font-size: 18px;

            span {
                font-size: 28px;
            }
        }

        .content-box {
            margin: 24px auto 0;
        }
    }
}

// game-list-block
.game-list-block {
    padding: 68px 0 110px 0;
    background: url(/template/SF-25Jan/deco/bg_mini.webp) #2EB3A8;
    background-size: cover;
    background-position: center var(--position);
    margin-bottom: 60px;
    position: relative;
    transition: background-position 0.3s;

    &::after {
        content: "";
        background: url(/template/SF-25Jan/deco/beach.webp) no-repeat;
        background-size: 100% cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        @include absolute(0, 0);
        pointer-events: none;
    }

    h3 {
        @extend %title;
    }

    p {
        @include flex(center);
        gap: 34px;
        margin-top: 54px;
    }

    img {
        flex: 1;
        max-width: to-rem(190);
        filter: drop-shadow(0px 3px 10px #011B22);
        border-radius: 18px;
        position: relative;

        &:nth-child(even) {
            top: 28px;
        }
    }

    @at-root .mobile #{&} {
        background: url(/template/SF-25Jan/deco/mob_mini_bg.webp) no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.game-list-slider {
    margin-top: 65px;
    position: relative;

    .game-list-item {
        transition: all 0.3s;
        border-radius: 18px;
        position: relative;
        overflow: hidden;
        img {
            max-width:195px;
            filter: none;
        }
    }
}

.arrow-prev,
.arrow-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.arrow-prev {
    left: 10px;
    transform: translateY(-50%) scaleX(-1);
}

.arrow-next {
    right: 10px;
}

/* info table */
.currency-select {
    z-index: 3;
    position: relative;
    width: 100%;
    @include flex(center);

    .list {
        width: 60%;
        @include absolute(70px, 50%);
        transform: translateX(-50%) scaleY(0);
        transform-origin: 0 0;
        background: #140505e5;
        box-shadow: 0px 3px 8px #0000005c;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px 24px;
        overflow: hidden;
        pointer-events: none;
        transition: all 0.2s ease-in-out;
        z-index: 5;
        opacity: 0;
        backdrop-filter: blur(10px);
        will-change: transform;

        li {
            padding: 10px 6px;
            font-size: 14px;
            color: #FFFFFFBF;
            white-space: nowrap;
            text-align: center;
            transition: all 0.2s;
            cursor: pointer;
            position: relative;

            &:last-of-type {
                grid-column: 2;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                border-radius: 50px;
                outline: 1px solid #FFFFFF33;
                @include absolute(0, 0);
                transition: all 0.3s;
                z-index: -1;
            }

            &.active {
                color: #ffda5e;

                &::after {
                    outline: 1px solid #ffffff5c;
                    background-color: #1b0707;
                }
            }

            &:hover {
                color: #ffffffeb;

                &::after {
                    outline: 1px solid #FFFFFFD6;
                }
            }
        }

        li+li {
            margin-top: 0;
        }

        &.active {
            pointer-events: initial;
            opacity: 0.99;
            padding: 30px;
            transform: translateX(-50%) scaleY(1);
        }
    }

    .default {
        height: 36px;
        color: #FFF7C1;
        position: relative;
        font-family: 'Archivo Narrow';
        background: linear-gradient(180deg, #9B7257 0%, #3E2F26 100%, #1c120d 200%);
        min-width: 90px;
        border-radius: 50px;
        @include flex(space-between);
        box-sizing: border-box;
        padding: 0 10px 0 16px;
        font-size: 13px;
        gap: 5px;
        margin-top: 20px;
        font-family: 'roboto';
        transition: all 0.3s;
        border: 1px solid #59361C;

        &:hover {
            color: #ffda5e;
            filter: brightness(1.2);
        }

        &::after {
            content: "";
            background: url(/template/SF-25Jan/deco/curr-arrow.svg);
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            width: 26px;
            aspect-ratio: 1/1;
            transition: all 0.3s;
            transform-origin: center;
            filter: brightness(1.2);
        }

        &.active {
            color: #ffda5e;
            background: #1b0707;

            &::after {
                transform: rotate(180deg);
            }
        }

        @at-root .mobile #{&} {
            &:hover {
                color: #FFF7C1;
                background: linear-gradient(180deg, #9B7257 0%, #3E2F26 100%, #1c120d 200%);
            }

            &.active {
                color: #ffda5e;
                background: #1b0707;
            }
        }
    }

    @at-root .mobile #{&} {
        .list {
            position: fixed !important;
            left: 0;
            bottom: 0;
            top: unset;
            width: 100%;
            padding-bottom: 120px !important;
            transform: none !important;
            z-index: 999;
        }
    }

}

.btn-close-list {
    width: 60px;
    height: 60px;
    @include absolute(null, 50%, null, 30px);
    transform: translateX(-50%);
    background: #503232;
    border-radius: 50%;

    span {
        color: #FFFFFFD9;
    }
}

/* TC */
.TC {
    margin: 42px auto 50px;
    background: linear-gradient(180deg, rgba(255, 245, 236, 0.6375) 0%, rgba(255, 245, 236, 0.85) 100%);
    border-radius: 30px;
    width: 910px;
    padding: 20px 0 25px;

    h2 {
        font-family: 'Poppins';
        color: #716B65;
        margin-bottom: 20px;
        font-size: 15px;
        text-align: center;
    }

    ul {
        max-width: 640px;
        margin: auto;
        color: #5A5A5ACC;
        font-size: 13px;
        font-family: 'Poppins';
        line-height: 16px;
        font-weight: 300;
        letter-spacing: 0.6px;

        li {
            position: relative;
            padding-left: 24px;
            padding: 10px 20px 10px 44px;
            background: #ead8c579;
            border-radius: 30px;

            &::before {
                content: "";
                background: url(/template/SF-25Jan/deco/boll.webp) no-repeat;
                background-size: 100% 100%;
                width: 15px;
                height: 15px;
                @include absolute(50%, 15px);
                transform: translateY(-50%);
            }
        }

        li+li {
            margin-top: 15px;
        }
    }

    @at-root .zh-CN #{&} {
        ul {
            font-weight: bold;
        }
    }
}


/* go top btn */
.go-top-btn {
    width: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    position: fixed;
    bottom: 6vh;
    right: calc((100% - $containerW) / 2 - 50px);
    @include font-size(20);
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(165, 151, 138, 0.5) 0%, rgba(103, 93, 84, 0.5) 100%);
    box-shadow: 0px 3px 4px #00000040;
    outline: 1px solid #EFC49699;
    border-radius: 8px;
    @include flex(center);
    opacity: 0;
    pointer-events: none;
    @extend %transition-03s;
    z-index: 3;

    &:hover {
        background: linear-gradient(180deg, #A5978A 0%, #675D54 100%);
    }

    &.active {
        opacity: 1;
        pointer-events: initial;
    }

    @include RWD($smallWeb) {
        right: 10px;
    }

    @include RWD($break_point) {
        bottom: 8vh;
        right: 5vw;
        width: 45px;
    }
}

.btn-more {
    background: #7B2F21;
    color: #fff;
    margin: 60px auto 80px;
    font-family: 'Bebas Neue', '微软雅黑';
    font-size: 16px;
    width: 170px;
    height: 36px;
    padding: 0;
    line-height: 38px;
    transition: color 0.3s ease-out;
    position: relative;
    overflow: hidden;

    @at-root .vi-VN #{&} {
        font-family: 'Archivo Narrow';
        font-weight: 700;
    }

    span {
        z-index: 2;
        position: relative;
    }

    &:hover {

        &::after,
        &::before {
            opacity: 1;
            transition-duration: 0.35s, 0.35s;
            transition-delay: 0s, 0s;
            transform: translateY(0);
        }
    }

    &::after,
    &::before {
        content: "";
        width: 100%;
        height: 50%;
        background-color: #CA965A;
        opacity: 0;
        position: absolute;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out 0.03s;
        left: 0;
    }

    &::after {
        top: 0;
        transform: translateY(-50%);
    }

    &::before {
        bottom: 0;
        transform: translateY(50%);
    }

    @at-root .mobile #{&} {
        font-size: 14px;
        margin: 0 auto 60px;

        &:hover {

            &::after,
            &::before {
                opacity: 0;
            }
        }
    }
}