@font-face {
    font-family: 'Rift';
    src: url('./Rift-Bold.woff2') format('woff2'),
        url('./Rift-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

