@font-face {
    font-family: 'Protest Riot';
    src: url('./ProtestRiot-Regular.woff2') format('woff2'),
        url('./ProtestRiot-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-007F;
}

