/* footer */
footer {
    @include flex(center);
    background: #030022;
    height: 54px;
    position: relative;
}

.copy-right {
    color: #ffffffc7;
    text-align: center !important;
    @include font-size(12);
    opacity: 0.9;
}

header {
    &.SG {
        background: #00000080;
        box-shadow: 0px 5px 10px #00000040;
        z-index: 99;
    }
}

main {
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        width: 100%;
        height: 30%;
        background: url(/template/SO-25Jul/banner_img/banner_bg_down.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        @include absolute(null, 0, null, 0);
        z-index: -1;
        filter: opacity(0.3);
    }

    @include RWD($break_point) {
        &::after {
            height: 30%;
            background-size: cover;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.537254902) 50%, rgba(0, 0, 0, 0.0470588235));
            position: fixed;
            top: 0;
            left: 0;
            z-index: 4;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        &:has(.list.active) {
            &::before {
                opacity: 1;
            }
        }
    }
}

/* banner */
.banner {
    width: 100%;
    position: relative;
}

.bn-bg {
    width: 100%;

    @at-root .mobile #{&} {
        position: relative;
        z-index: 1;
    }
}

.bn-title {
    @include absolute(24%, 0%);
    z-index: 2;
    width: 100%;

    img {
        width: 70%;
        position: relative;
        margin: 0 auto;
    }

    @include RWD($break_point) {
        @include absolute(25%, 0);
        z-index: 3;

        img {
            width: 100%;
        }
    }
}

.bn-money {
    @include absolute(45%, 0%);
    z-index: 2;
    width: 100%;

    img {
        width: 44%;
        position: relative;
        margin: 0 auto;
        animation: brightness 1.8s infinite alternate;
    }

    @include RWD($break_point) {
        @include absolute(25%, 0);
        z-index: 3;

        img {
            width: 100%;
        }
    }
}

.excl {
    @include absolute(10%, 50%);
    transform: translateX(-50%);
    z-index: 2;
    width: 9%;

    img {
        width: 100%;
        position: relative;
    }

    @include RWD($break_point) {
        @include absolute(25%, 0);
        z-index: 3;

        img {
            width: 100%;
        }
    }
}

.coin {
    @include absolute(0%, 50%);
    transform: translate(-50%, 0);
    z-index: 2;
    width: 85%;

    img {
        width: 100%;
        position: relative;
    }

    @include RWD($break_point) {
        @include absolute(25%, 0);
        z-index: 3;

        img {
            width: 100%;
        }
    }
}

.bn-date {
    @include absolute(70%, 50%);
    text-align: center;
    color: #fff;
    z-index: 2;
    font-family: 'roboto';
    transform: translateX(-50%);
    letter-spacing: 1px;
    font-weight: bold;

    .gmt {
        margin-left: 5px;
    }

    .date {
        position: relative;
        font-size: 28px;
        line-height: 42px;
        color: #FFFEA7;
    }

    .date-bg {
        width: 150%;
        height: 42px;
        @include absolute(0, 50%);
        transform: translate(-50%, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #00000069 15%, #000000 50%, #00000069 85%, rgba(0, 0, 0, 0) 100%);
        z-index: -1;
    }

    .time {
        display: block;
        font-size: 22px;
        line-height: 32px;
        margin-top: 5px;
    }

    @include RWD($smallWeb) {
        .date {
            font-size: 24px;
            line-height: 46px;
        }

        .time {
            font-size: 20px;
            line-height: 30px;
            margin-top: 8px;
        }
    }

    @include RWD($break_point) {
        @include absolute(55%, 50%);
        width: 100%;
        letter-spacing: 0.2px;

        .date-bg {
            width: 97%;
        }

        .date {
            font-size: 18px;
        }

        .time {
            font-size: 16px;
            line-height: 36px;
            margin-top: 0;
        }
    }
}

/* index */
.index {
    position: relative;
    width: 100%;
    margin-top: -8%;

    @include RWD($break_point) {
        background: linear-gradient(180deg, #11164a 0%, #2c3476 50%, #11164a);
    }

}

.container {
    @include RWD($break_point) {
        margin-top: -55%;
    }
}

%title {
    margin: 0 auto 10px;
    background: linear-gradient(360deg, #FFFFFF 0%, #FFED8F 100%);
    background-clip: text;
    color: transparent;
    text-align: center;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    filter: drop-shadow(0 5px 8px #250E02CC) drop-shadow(0 3px 0px #591000);
}

.points-block {
    position: relative;
    z-index: 2;
    margin: 0 auto 45px;

    h3 {
        @extend %title;
    }

    p {
        color: #fff;
        font-size: 14px;
        line-height: 28px;
        max-width: 640px;
        margin: auto;
        text-align: center;
        letter-spacing: 1px;

        @include RWD($mobile) {
            width: 100%;
            line-height: 20px;
            font-size: 12px;
        }
    }

    ul {
        max-width: 748px;
        width: 90%;
        margin: 20px auto 50px;
        font-weight: 400;

        li {
            @include flex(center);
            color: #FFFFFF;
            font-size: 14px;
            overflow: hidden;
            flex-direction: column;
            line-height: 28px;

            strong {
                width: 22%;
                flex-shrink: 0;
                white-space: nowrap;
                @include flex(center);
                color: #FFF4BB;
                font-weight: 500;

                &::before {
                    content: "·";
                    font-size: 30px;
                    margin-right: 6px;
                }
            }

            i {
                font-style: normal;
                color: #fff;
                max-width: 640px;
                margin: auto;
                text-align: center;
                letter-spacing: 1px;
                line-height: 24px;
                font-size: 14px;
            }

            &:nth-child(1) {
                border-radius: 10px 10px 0 0;
                margin-bottom: 1px;
            }

            &:nth-child(2) {
                border-radius: 0 0 10px 10px;
            }
        }

        li+li {
            margin-top: 10px;
        }

        @at-root .mobile #{&} {
            margin-top: 20px;

            li {
                color: #fff;
                font-size: 14px;

                strong {
                    line-height: 24px;
                    text-align: center;
                    font-size: 14px;
                }

                i {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }

    .table {
        margin: 0 auto;
        max-width: 706px;
        position: relative;
    }

    table {
        width: 480px;
        border-collapse: collapse;
        overflow: hidden;
        @include font-size(16);
        text-align: center;
        --cell-h: 42px;
        margin: auto;
        position: relative;
        z-index: 2;
        font-weight: bold;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        border-radius: 10px;
        background-image: linear-gradient(360deg, #192E98 0%, #569FE4 100%);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;

        thead {
            background: linear-gradient(360deg, #464FBE 0%, #5B8CDA 100%);


            th {
                border-left: 1px solid #20447466;
            }

            tr+tr {
                border-top: 1px solid #20447466;
            }
        }

        tbody {
            background: #ded7e4;
        }

        th {
            height: var(--cell-h);
            padding: 3px 10px;
            color: #FFFFFF;
            font-weight: 500;
        }

        tr {
            td:nth-child(3) {
                border-left: 0.5x solid #20447466;
                pointer-events: none;

                &::after {
                    content: none;
                }
            }
        }

        td {
            height: var(--cell-h);
            position: relative;
            color: #305390;
            background: transparent;
            font-weight: 600;
            padding: 0 5px;
            font-size: 16px;

            img {
                display: block;
                width: 78px;
                margin: 0 auto 5px;
            }

            p {
                color: #305390;
                filter: none;
                margin-bottom: 0;
                line-height: 24px;
                font-size: 14px;

            }
        }

        td+td {
            border-left: 1px solid #20447466;
        }

        tr+tr {
            border-top: 1px solid #20447466;
        }

    }

    @include RWD($break_point) {
        margin: 0 auto 12%;

        h2,
        h3 {
            font-size: 18px;
            min-width: 248px;
            line-height: 32px;

            strong {
                font-weight: bold;
            }
        }

        table {
            width: 100%;

            th {
                font-size: 14px;
            }

            td {
                font-size: 14px;

                p {
                    line-height: 22px;
                    font-size: 12px;

                }
            }

        }
    }
}

/* TC */
.TC {
    margin: 80px auto;

    h2 {
        @extend %title;
    }

    ul {
        max-width: 800px;
        margin: auto;
        color: #9097D9;
        font-size: 14px;
        font-family: 'roboto';
        line-height: 18px;
        font-weight: 400;
        letter-spacing: 0.6px;

        li {
            position: relative;
            padding-left: 20px;

            &::before {
                content: "◎";
                @include absolute(0, 0);
                font-size: 22px;
            }
        }

        li+li {
            margin-top: 15px;
        }
    }

}


/* go top btn */
.go-top-btn {
    width: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    position: fixed;
    bottom: 8dvh;
    right: 10dvw;
    @include font-size(20);
    color: #FFFFFF;
    background: linear-gradient(to bottom, #13B4FF, #0088FF);
    box-shadow: 0px 3px 4px #0000008B;
    border-radius: 8px;
    @include flex(center);
    opacity: 0;
    pointer-events: none;
    @extend %transition-03s;
    z-index: 3;

    &::after {
        content: "";
        width: 96%;
        height: 96%;
        background: linear-gradient(180deg, rgba(0, 119, 255, 0.5) 0%, rgba(0, 26, 255, 0.5) 100%);
        border-radius: 8px;
        @include absolute(50%, 50%);
        transform: translate(-50%, -50%);
        z-index: -2;
        pointer-events: none;
    }

    @include desktopHover {
        &::after {
            background: linear-gradient(180deg, #0077FF 0%, #001AFF 100%);
        }
    }

    &.active {
        opacity: 1;
        pointer-events: initial;
    }

    @include RWD($smallWeb) {
        right: 10px;
    }

    @include RWD($break_point) {
        bottom: 8vh;
        right: 5vw;
        width: 45px;
    }
}

.btn-moreInfo {
    background: linear-gradient(180deg, #AB9CFF 0%, #605BFF 17.5%, #8580FF 83.5%, #A39CFF 100%) !important;
}

.modal-box {
    .btn-close {
        background: #9999FF;
    }

    .icon-close:before {
        color: #FFFFFF;
    }
}