// RWD定義
$bodyW: 1600px;
$containerW: 850px;
$smallWeb: 1240px;
$ipad: 1024px;
$smallIpad: 850px;
$mobile: 576px;
$smallMobile: 480px;
$break_point: $smallIpad;
$header-height: 54px;

// reset
& {
    --bg: #3b1818;
    --header-height: 54px;
    font-family: 'Archivo Narrow', "微软雅黑", 'Roboto';

    @include RWD($smallWeb) {
        font-size: 14px;
    }

    @include RWD($smallIpad) {
        font-size: 12px;
    }
}

.container {
    max-width: $containerW;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;

    @include RWD($smallMobile) {
        padding: 0 30px;
    }
}
