@keyframes expand {
    0% {
        clip-path: inset(0 50% 0 50%);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

[data-aos="expand"] {
    opacity: 0;

    &.aos-animate {
        opacity: 1;
        animation: expand 1s ease-out 1 forwards;
    }
}

@keyframes shine {
    0% {
        background-position: -1000px;
    }

    100% {
        background-position: 1000px;
    }
}