@font-face {
    font-family: 'Athiti';
    src: url('./Athiti-Regular.woff2') format('woff2'),
        url('./Athiti-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athiti';
    src: url('./Athiti-Bold.woff2') format('woff2'),
        url('./Athiti-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athiti';
    src: url('./Athiti-SemiBold.woff2') format('woff2'),
        url('./Athiti-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athiti';
    src: url('Athiti-Medium.woff2') format('woff2'),
        url('Athiti-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

