@font-face {
    font-family: 'Hemi Head Rg';
    src: url('./HemiHeadRg-BoldItalic.woff2') format('woff2'),
        url('./HemiHeadRg-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

