@font-face {
    font-family: 'Rodfat Two Demo';
    src: url('./RodfatTwoDemo.woff2') format('woff2'),
        url('./RodfatTwoDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

