@font-face {
    font-family: 'Kurri Island';
    src: url('./KurriIslandPERSONAL-Bold.woff2') format('woff2'),
        url('./KurriIslandPERSONAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

