@font-face {
    font-family: 'Pubg Sans';
    src: url('./PubgSans-Regular.woff2') format('woff2'),
        url('./PubgSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

