// RWD定義
$bodyW: 1680px;
$containerW: 1440px;
$smallWeb: 1270px;
$ipad: 1024px;
$smallIpad: 820px;
$mobile: 600px;
$smallMobile: 400px;
$break_point: $smallIpad;

:root {
    --header-height: 0px;
}

// reset
html {
    font-family: "Roboto", "微软雅黑", sans-serif;
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    scroll-behavior: smooth;

    @include RWD($smallIpad) {
        font-size: 12px;
    }
}

body {
    width: 100%;
    min-height: 100vh;
    -webkit-overflow-scrolling: touch;
    padding-top: var(--header-height);
    background: #1F0345;
    position: relative;

    @include RWD($break_point) {
        background: #1F0345;
        &:has(.dropdown-list.active) {
            .go-top-btn {
                display: none;
            }
            .btn-moreInfo {
                display: none;
            }
        }
    }
}

a,
ul,
li {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-decoration: none;
    list-style: none;
    padding: 0;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:focus {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        outline: inherit;
    }

}

button {
    border: none;
    background-color: transparent;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

strong {
    appearance: none;
    font-weight: normal;
}

h1 {
    font-size: 0;
    text-indent: -9999px;
}

img {
    display: block;
}

input,
textarea {
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    resize: none;

    &:focus {
        appearance: none;
        outline: none;
    }
}

// Chrome, Safari, Edge, Opera //
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Firefox //
input[type=number] {
    -moz-appearance: textfield;
}

select:focus {
    outline: none;
}

// default
main {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

// input
input,
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    min-width: 1px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.container {
    max-width: $containerW;
    padding: 0 15px;
    margin: 0 auto 0;
    position: relative;
}